<div class="social-network-buttons">
  <button mat-button class="youtube-btn" (click)="addNewVideo('youtube')">
    youtube
  </button>
  <button mat-button class="tiktok-btn" (click)="addNewVideo('tiktok')">
    tiktok
    <mat-icon>star</mat-icon>
  </button>
  <button mat-button class="instagram-btn" (click)="addNewVideo('instagram')">
    instagram
  </button>
  <button mat-button class="facebook-btn" (click)="addNewVideo('facebook')">
    facebook
  </button>
  <button mat-button class="whatsapp-btn" (click)="addNewVideo('whatsapp')">
    whatsapp
    <mat-icon>star</mat-icon>
  </button>
</div>
<app-user [userId]="selectedUserId"></app-user>