.social-network-buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  
    button {
      font-size: 16px;
      border-radius: 8px;
      padding: 10px 20px;
      text-transform: capitalize;
      display: flex;
      align-items: center;
  
      mat-icon {
        margin-left: 5px;
        color: gold;
      }
    }
  
    .youtube-btn {
      background-color: #ffebee;
      color: #d32f2f;
      border: 1px solid #d32f2f;
    }
  
    .tiktok-btn {
      background-color: #512da8;
      color: #ffffff;
    }
  
    .instagram-btn {
      background-color: #ffcc80;
      color: #ff5722;
    }
  
    .facebook-btn {
      background-color: #bbdefb;
      color: #1976d2;
    }
  
    .whatsapp-btn {
      background-color: #c8e6c9;
      color: #388e3c;
    }
  
    button:hover {
      opacity: 0.8;
    }
  }
  .user-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;   
  }
  
  .user-grid > div {
    border: 1px solid black;
    flex: 1 1 calc(33.33% - 20px);
    box-sizing: border-box;
  }
    